.api-content-aside {
  padding-top: calc(1.5rem + 10px);
  .api-content-container {
    position: sticky;
    top: 140px;
    width: 200px;
    padding: 0 20px;
  
    .api-content-title {
      margin-bottom: 10px;
    }
  
    .api-content-anchor {
      position: relative;
      display: block;
      padding: 5px 0;
      font-size: 12px;
      color: var(--n-text-color);
    }
  
    .api-content-anchor.level-3 {
      padding-left: 10px;
    }
  
    .actived {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 4px;
        height: 100%;
        color: var(--theme-color);
        background-color: var(--theme-color);
      }
    }
  }
}