* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  font-size: 16px;
  text-size-adjust: 100%;
  font-weight: 400;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

h2 {
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  padding-bottom: 0.3rem;
  line-height: 1.25;
  font-size: 1.65rem;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 1;
}

a {
  font-weight: normal;
  text-decoration: inherit;
  color: #333;

  &.header-anchor {
    color: var(--theme-color);
  }
}

a.header-anchor {
  position: absolute;
  margin-top: 0.125em;
  margin-left: -0.87em;
  padding-right: 1em;
  font-size: 0.85em;
  opacity: 0;

  &:hover,
  :focus {
    text-decoration: none;
  }
}

ul,
li,
ol {
  margin: 0;
  list-style: none;
}