.main-content {
  .doc-content-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: calc(var(--sidebar-width) + 20px);
    padding-bottom: 80px;

    .doc-content-container {
      width: 100%;
      padding-left: 40px;
      padding-right: 60px;
      .doc-content {
        width: 100%;
      }
    }
  }

  .doc-content {
    flex-shrink: 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      display: flex;
      align-items: center;
      a {
        display: inline-flex;
        align-items: center;
      }
    }

    p {
      font-size: 14px;
    }

    > div {
      .vp-table {
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        margin-bottom: 45px;
        font-family: 'JetBrains Mono';

        table {
          width: 100%;
          line-height: 1.5em;
          font-size: 14px;
          border-collapse: collapse;
          background-color: var(--n-bg-color);

          th {
            white-space: nowrap;
            border-top: 1px solid var(--n-border-color-lighter);
            border-bottom: 1px solid var(--n-border-color-lighter);
            padding: 0.6em 1em;
            text-align: left;
            max-width: 250px;
            white-space: pre-wrap;
          }

          &:first-child th {
            border-top: none;
          }

          td {
            white-space: nowrap;
            border-top: 1px solid var(--n-border-color-lighter);
            border-bottom: 1px solid var(--n-border-color-lighter);
            padding: 0.6em 1em;
            text-align: left;
            max-width: 250px;
            white-space: pre-wrap;
          }
        }
      }
      .vp-table:last-child {
        margin-bottom: 0;
      }
    }
  }
}
