:root {
  --theme-color: #9940ff;
  --theme-bg-color: rgb(227, 202, 255);
  --text-color: #727171;
  --code-bg-color: #f5f7fa;
  --duration-time: .3s;
  --duration-time-fast: .2s;

  --sidebar-width: 320px;
  
  // code block vars
  --code-line-height: 1.4;
  --code-font-size: var(--el-font-size-base);
  --code-bg-color: var(--el-fill-color-light);
  --code-text-color: var(--text-color);
  --code-font-family: var(--font-family-mono);
  --code-tooltip-bg-color: var(--code-bg-color);
  --code-tooltip-color: #0c61c9;
}