.demo-container {
  .demo-content {
    border: 1px solid var(--n-border-color-light);
    border-radius: 4px;

    .demo-component {
      padding: 20px;
    }

    .demo-operas {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      color: var(--n-text-color-secondary);
      border-top: 1px solid var(--n-border-color-light);

      .opera {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        cursor: pointer;
        transition: color var(--duration-time);

        &:hover {
          color: var(--n-text-color-primary);
        }
      }

      a {
        display: flex;
        align-items: center;
        color: var(--n-text-color-secondary);
      }
    }

    .demo-description {
      strong {
        color: #333;
      }
    }

    .demo-source-wrapper {
      font-weight: 700;
      overflow: hidden;
    }

    .demo-source-close {
      position: sticky;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      font-size: 14px;
      color: var(--n-text-color-secondary);
      background-color: var(--n-bg-color);
      cursor: pointer;
      z-index: 200;
      transition: all 0.2s linear;

      &:hover {
        color: var(--theme-color);
      }

      p {
        margin-left: 6px;
      }
    }
  }
}
