.doc-content-wrapper {
  --vp-content-width: 800px;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  padding-top: 80px;
  padding-left: calc(var(--sidebar-width) + 20px);

  .doc-content-container {
    width: 100%;
    .doc-content {
      width: 100%;
    }
  }
}

.doc-content {
  h1, h2 {
    position: relative;
    display: flex;
    align-items: center;
    a {
      display: inline-flex;
      align-items: center;
    }
  }
}
