.vp-link {
  position: relative;
  margin: 0 5px;
  color: var(--n-color-primary);

  &:hover {
    color: var(--n-color-primary-light-3);
  }

  @mixin persuade {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--n-color-primary-light-3);
    opacity: 0;
    transition:
      opacity 0.2s ease-in-out,
      color 0.2s;
  }

  &::after {
    @include persuade;
    left: 0;
  }

  &:hover::after {
    opacity: 1;
  }
}
