.vp-link {
  position: relative;
  margin: 0 5px;
  color: var(--n-color-primary);

  @mixin persuade {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--theme-color);
    transition: 0.3s ease-in-out;
  }

  &::after {
    @include persuade;
    left: 50%;
  }

  &::before {
    @include persuade;
    right: 50%;
  }

  &:hover::after,
  &:hover::before {
    width: 50%;
  }
}
