.vp-link {
  position: relative;
  margin: 0 5px;
  color: var(--n-color-primary);

  &::after {
    content: '';
    position: absolute;
    bottom: -1.5px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: var(--n-color-primary);
    transition: .3s;
  }

  &:hover::after {
    width: 100%;
  }
}