// Scrollbar
@mixin scroll-bar {
  $scrollbar-thumb-background: var(--n-text-color-disabled);
  $scrollbar-track-background: var(--n-fill-color-blank);

  &::-webkit-scrollbar {
    z-index: 11;
    width: 8px;

    &:horizontal {
      height: 6px;
    }

    &-thumb {
      width: 6px;
      background: $scrollbar-thumb-background;
    }

    &-corner {
      background: $scrollbar-track-background;
    }

    &-track {
      background: $scrollbar-track-background;

      &-piece {
        background: $scrollbar-track-background;
        width: 6px;
      }
    }
  }
}