.nav-wrapper {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--nav-height);
  padding: 0 40px;
  background-color: var(--n-bg-color);
  z-index: 100;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--n-border-color-lighter);
  }

  .content {
    display: flex;
    align-items: center;

    > * {
      margin-left: 20px;
    }

    .nav-link {
      display: flex;

      a {
        display: block;
        position: relative;
        padding: 0 10px;
        line-height: 55px;
        font-size: 14px;
        transition: color var(--duration-time);
        cursor: pointer;

        &:hover {
          color: var(--theme-color);
        }
      }
    }

    .actived {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--theme-color);
        z-index: 2;
      }
    }

    .link-github {
      display: flex;
      align-items: center;
      transition: color var(--duration-time);

      &:hover {
        color: var(--theme-color);
      }
    }

    .menu {
      display: none;
    }
  }

  .content-small {
    display: none;
  }
}

.nav-wrapper.is-plain {
  background-color: transparent;
}

.vp-nav-menu {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 40px;
  font-size: 13px;
  border-bottom: 1px solid var(--n-border-color-light);
  cursor: pointer;

  svg {
    margin-right: 10px;
    color: var(--n-border-color-darker);
  }
}
