@media screen and (max-width: 1440px) {
  .api-content-aside {
    display: none;
  }

  .main-content {
    .doc-content-wrapper {
      .doc-content-container {
        padding: 0 28px;
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .doc-content-wrapper {
    padding-left: 0 !important;
  }

  .main-content {
    .doc-content-wrapper {
      padding-top: 20px;
    }
  }

  .sidebar {
    transform: translate(-100%, 0);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .doc-search {
    .DocSearch-Button {
      width: 30px;
      height: 35px;
      --docsearch-searchbox-background: none;
    }
  }

  .main-content {
    .doc-content-wrapper {
      padding-top: 20px;
      .doc-content-container {
        padding: 0 28px;
        margin-right: 0;
      }
    }
  }
}
