.sidebar {
  position: fixed;
  left: 0;
  top: 55px;
  width: var(--sidebar-width);
  padding: 40px 80px 40px 40px;

  .sidebar-content {
    .type-name {
      padding: 10px 0;
      font-weight: 700;
      color: #333;
    }
  
    .sidebar-item {
      display: flex;
      align-items: center;
      padding: 8px;
      font-size: 13px;
      border-radius: 6px;
      transition: color var(--duration-time);
  
      &:hover {
        color: var(--theme-color);
      }
    }
  
    .active {
      font-weight: 700;
      color: var(--theme-color);
      background-color: var(--theme-bg-color);
    }
  }
}