@use './mixins.scss' as *;

.sidebar {
  position: fixed;
  left: 0;
  top: 55px;
  height: 100%;
  width: var(--sidebar-width);
  padding: 40px 5px 100px 5px;
  background: var(--n-bg-color);
  transform: translate(0, 0);
  transition:
    transform 0.3s,
    opacity 0.2s;
  overflow: hidden;
  z-index: 10;

  &:hover {
    overflow: auto;
  }

  &.open {
    top: 0;
    opacity: 1;
    visibility: visible;
    transform: translate(0);
    z-index: 200;
  }

  @include scroll-bar;

  div {
    overflow: auto;
  }

  .sidebar-content {
    @mixin active {
      background-color: var(--n-color-primary);
      span {
        &:first-child {
          color: var(--n-text-color-primary);
        }
        &:last-child {
          color: var(--n-text-color-regular);
        }
      }
    }
    .type-name {
      margin-bottom: 0;
      padding: 10px 0 10px 0;
      margin: 0 20px 0 36px;
      font-size: 14px;
      color: var(--n-text-color-regular);
      border-bottom: 1px solid var(--n-border-color-lighter);
    }

    .sidebar-item {
      display: flex;
      align-items: center;
      margin: 4px 0;
      padding: 12px 20px 12px 40px;
      font-size: 13px;
      font-weight: 500;
      border-radius: 8px;
      transition: 0.3s ease-in-out;

      span {
        transition: 0.3s ease-in-out;
        &:first-child {
          margin-right: 6px;
        }
        &:last-child {
          color: var(--n-text-color-secondary);
        }
      }

      &:hover {
        background-color: var(--n-fill-color-dark);
        span {
          &:first-child {
            color: var(--n-text-color-primary);
          }
          &:last-child {
            color: var(--n-text-color-regular);
          }
        }
      }

      &:active {
        @include active;
      }
    }

    .active {
      @include active;
      &:hover {
        @include active;
      }
    }
  }
}

html:not(.dark) {
  .sidebar {
    @mixin span {
      span {
        &:first-child {
          color: var(--n-color-primary);
        }
        &:last-child {
          color: var(--n-color-primary-light-3);
        }
      }
    }
    .active {
      background-color: var(--n-color-primary-light-9);
      @include span;
      &:hover {
        background-color: var(--n-color-primary-light-9);
        @include span;
      }
    }
    .sidebar-content {
      .sidebar-item {
        &:active {
          background-color: var(--n-color-primary-light-9);
          @include span;
        }
      }
    }
  }
}
