@use './mixins.scss' as *;

.sidebar {
  position: fixed;
  left: 0;
  top: 55px;
  height: 100%;
  width: var(--sidebar-width);
  padding: 40px 20px 100px 40px;
  background: var(--n-bg-color);
  transform: translate(0, 0);
  transition: transform .2s, opacity .2s;
  overflow: hidden;
  z-index: 10;

  &:hover {
    overflow: auto
  }

  &.open {
    top: 0;
    opacity: 1;
    visibility: visible;
    transform: translate(0);
    transition: transform .2s, opacity .2s;
    z-index: 200;
  }

  @include scroll-bar;

  div {
    overflow: auto;
  }

  .sidebar-content {
    .type-name {
      margin-bottom: .8rem;
      font-weight: 700;
      color: var(--n-text-color-primary);
    }
  
    .sidebar-item {
      display: flex;
      align-items: center;
      padding: 12px;
      font-size: 13px;
      font-weight: 500;
      border-radius: 6px;
      transition: color var(--duration-time);
  
      &:hover {
        color: var(--theme-color);
      }
    }
  
    .active {
      font-weight: 700;
      color: var(--theme-color);
      background-color: var(--theme-bg-color);
    }
  }
}