@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(scrollbar) {
  @include set-component-css-var('scrollbar', $scrollbar);
}

@include b(scrollbar) {
  position: relative;
  width: 100%;
  overflow: hidden;

  @include m(content) {
    padding-right: 10px;
    overflow: auto;
    scrollbar-width: none;
  }

  @include e(bar) {
    position: absolute;
    right: 2px;
    top: 2px;
    transition: opacity getCssVar('transition-duration-fast') linear;
  }

  @include e(thumb) {
    width: 6px;
    height: 60px;
    border-radius: getCssVar('scrollbar', 'thumb-border-radius');
    background-color: getCssVar('scrollbar', 'thumb-bgcolor');
    cursor: pointer;
    transition: all getCssVar('transition-duration-fast') linear;

    &:hover {
      background-color: getCssVar('scrollbar', 'thumb-hover-bgcolor');
    }
  }

  @include when(enter) {

    @include e(bar) {
      opacity: 1;
    }
  }

  @include when(leave) {
    
    @include e(bar) {
      opacity: 0;
    }
  }
}