@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'mixins/var' as *;

@include b(anchor) {
  @include e(item) {
    padding-left: getCssVar('anchor', 'item-pl');

    a {
      display: block;
      transition: color getCssVar('transition-duration');
    }

    @include e(item__text) {
      padding: getCssVar('anchor', 'item-py') 0;
    }
  }
}
