@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'mixins/var' as *;

@include b(card) {
  @include set-component-css-var('card', $card);
}

@include b(card) {
  color: getCssVar('card', 'text-color');
  background: getCssVar('card', 'bg-color');
  border: getCssVar('card', 'border');
  border-radius: getCssVar('card', 'border-radius');

  p {
    margin: 0;
    padding: 0;
  }

  @include when(hoverable) {
    transition: all getCssVar('transition-duration-fast') ease-in-out;
    cursor: pointer;
    &:hover {
      box-shadow: getCssVar('card', 'box-shadow');
    }
  }

  @include when(borderless) {
    border: none;
  }

  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: getCssVar('card', 'block-padding');
    text-align: start;
    border-bottom: getCssVar('card', 'border');
  }

  @include e(content) {
    padding: getCssVar('card', 'block-padding');
  }

  @include e(action) {
    padding: getCssVar('card', 'block-padding');
    text-align: start;
    border-top: getCssVar('card', 'border');
  }

  @include m(cover) {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: getCssVar('card', 'border-radius')
      getCssVar('card', 'border-radius') 0 0;
  }

  @include m(small) {
    --#{$namespace}-card-block-padding: 8px 16px;
  }
}

@include b(card-meta) {
  display: flex;
  align-items: start;

  p {
    margin: 0;
    padding: 0;
  }

  @include e(title) {
    margin-bottom: 8px;
    font-weight: 600;
    color: getCssVar('text-color-primary');
  }

  @include e(desc) {
    color: getCssVar('text-color-secondary');
  }

  @include m(wrapper) {
    margin-left: 20px;
  }
}
