@use 'mixins/mixins' as *;
@use 'common/var' as *;
@use 'mixins/var' as *;

@include b(dialog) {
  @include set-component-css-var('dialog', $dialog);
}

@include b(dialog) {
  position: relative;
  margin: 0 auto;
  width: getCssVar('dialog', 'width');
  padding: getCssVar('dialog', 'padding-vertical')
    getCssVar('dialog', 'padding-horizonal');
  border-radius: getCssVar('dialog', 'border-radius');
  box-shadow: getCssVar('dialog', 'shadow');
  background-color: getCssVar('dialog', 'bg-color');

  @include e(header) {
  }

  @include e(title) {
    font-size: 16px;
  }

  @include e(close) {
    position: absolute;
    top: getCssVar('dialog', 'padding-vertical');
    right: getCssVar('dialog', 'padding-horizonal');
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: getCssVar('dialog', 'border-radius');
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all getCssVar('transition-duration');

    &:hover {
      color: getCssVar('text-color-regular');
      background-color: getCssVar('fill-color-darker');
    }

    &:active {
      color: getCssVar('text-color-regular');
      background-color: getCssVar('fill-color-dark');
    }
  }

  @include e('content') {
    padding: 10px 0 14px 0;
    color: getCssVar('text-color-regular');
  }

  @include e(footer) {
    text-align: end;
  }
}

.#{$namespace}-overlay-dialog {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  @include when('center') {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.#{$namespace}-dialog-zoom-in-enter-active {
  animation: masker-fade-in getCssVar('transition-duration-fast');
  .#{$namespace}-dialog {
    animation: dialog-zoom-in getCssVar('transition-duration-fast')
      cubic-bezier(0.34, 1.26, 0.64, 1);
  }
}

.#{$namespace}-dialog-zoom-in-leave-active {
  animation: masker-fade-in getCssVar('transition-duration-fast') reverse;
  .#{$namespace}-dialog {
    animation: dialog-zoom-in getCssVar('transition-duration-fast')
      cubic-bezier(0.34, 1.26, 0.64, 1) reverse;
  }
}

@keyframes dialog-zoom-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes masker-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
