@use 'mixins/mixins' as *;
@use 'common/var' as *;
@use 'mixins/var' as *;

@include b(dialog) {
  @include set-component-css-var('dialog', $dialog)
}

@include b(dialog) {
  position: relative;
  width: getCssVar('dialog', 'width');
  padding: getCssVar('dialog', 'padding-vertical') getCssVar('dialog', 'padding-horizonal');
  border-radius: getCssVar('dialog', 'border-radius');
  box-shadow: getCssVar('dialog', 'box-shadow');
  background-color: getCssVar('dialog', 'bg-color');

  @include e(header) {
  }

  @include e(title) {
    font-size: 16px;
  }

  @include e(close) {
    position: absolute;
    top: getCssVar('dialog', 'padding-vertical');
    right: getCssVar('dialog', 'padding-horizonal');
    padding: 2px;
    border-radius: getCssVar('dialog', 'border-radius');
    cursor: pointer;
    transition: .4s;
    &:hover {
      color: getCssVar('text-color-regular');
      background-color: getCssVar('text-color-disabled');
    }
  }

  @include e('content') {
    padding: 10px 0 14px 0;
    color: getCssVar('text-color-regular');
  }

  @include e(footer) {
    text-align: end;
  }

  @include when('center') {
    text-align: center;

    @include e(header) {
      text-align: center;
    }

    @include e(footer) {
      text-align: center;
    }
  }
}

.#{$namespace}-dialog-fade-enter-active {
  animation: masker-fade-in getCssVar('transition-duration-fast') ease-in;
  .#{$namespace}-dialog {
    animation: dialog-zoom-in getCssVar('transition-duration-fast') cubic-bezier(0.95, 0.05, 0.795, 0.035);
  }
}
 

.#{$namespace}-dialog-fade-leave-active {
  animation: masker-fade-in getCssVar('transition-duration-fast') ease-out reverse;
  .#{$namespace}-dialog {
    animation: dialog-zoom-in getCssVar('transition-duration-fast') cubic-bezier(0.65, 0.95, 0.035, 0.695) reverse;
  }
}

@keyframes dialog-zoom-in {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes masker-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}