@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'mixins/var' as *;

@include b('dropdown') {
  @include set-component-css-var('dropdown', $dropdown);

  @include when(disabled) {
    position: relative;
    background: getCssVar('dropdown', 'disabled-bg-color');
    cursor: not-allowed;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: transparent;
      z-index: 10;
    }
  }
}
