@use 'sass:map';

@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'mixins/var' as *;

@include b('dropdown') {
  @include set-component-css-var('dropdown', $dropdown);

  @include e(item) {
  }

  @include when(disabled) {
    position: relative;
    background: getCssVar('dropdown', 'disabled-bg-color');
    cursor: not-allowed;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: transparent;
      z-index: 10;
    }
  }
}

.#{$namespace}-popper {
  @include set-component-css-var('dropdown', $dropdown);

  .#{$namespace}-dropdown__item {
    display: flex;
    align-items: center;
    padding: getCssVar('dropdown', 'item-padding');
    white-space: nowrap;
    transition: all getCssVar('transition-duration-fast');
    cursor: pointer;

    &:hover {
      background: getCssVar('dropdown', 'hover-bg-color');
      color: getCssVar('dropdown', 'hover-text-color');
    }

    @include when(disabled) {
      color: getCssVar('dropdown', 'disabled-color');
      cursor: not-allowed;

      &:hover {
        background: none;
      }
    }
  }

  .#{$namespace}-dropdown__separator {
    width: 100%;
    height: 1px;
    margin: 4px 0;
    background: getCssVar('border-color');
  }
}
