@use './mixins/config' as *;
@use './mixins/mixins' as *;
@use './mixins/_var' as *;

$marginLeft: 6px;
$marginRight: 6px;

@include b(icon) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  color: inherit;
  overflow: hidden;
  font-size: inherit;

  @include m(left) {
    margin-left: $marginLeft;
  }

  @include m(right) {
    margin-right: $marginRight;
  }

  svg {
    width: 1em;
    height: 1em;
  }
}
