@use 'mixins/mixins' as *;

@include b(loading) {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: getCssVar('color-primary');

  @include e(content) {
    text-align: center;
  }

  @include e(icon) {
    animation: rotate 1s infinite cubic-bezier(0.9, 0.4, 0.3, 0.33);
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @include when(fullScreen) {
    position: fixed;
    inset: 0;
  }
}
