@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(loading) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include m(content) {
    text-align: center;

    @include e(icon) {
      animation: rotate 1s infinite cubic-bezier(.9, .4, .3, .33);
    }
  
    @keyframes rotate {
      from {
        transform: rotate(0def);
      }
      to {
        transform: rotate(360deg);
      }
    }
  
    > span {
      color: getCssVar('text-color-regular');
    }
  }
}