@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(notification) {
  @include set-component-css-var('notification', $notification);
}

@include b(notification) {
  position: fixed;
  display: flex;
  width: getCssVar('notification-width');
  padding: getCssVar('notification-padding');
  box-sizing: border-box;
  background: getCssVar('bg-color');
  border-radius: getCssVar('notification-border-radius');
  box-shadow: getCssVar('notification-box-shadow');
  transition:
    opacity getCssVar('transition-duration'),
    transform getCssVar('transition-duration-fast'),
    top 0.4s,
    bottom 0.4s;

  @include m(main) {
    margin-left: 10px;

    @include e(close) {
      position: absolute;
      right: 27px;
      top: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: getCssVar('border-radius-small');
      color: getCssVar('text-color-secondary');
      cursor: pointer;
      transition: getCssVar('transition-duration');

      &:hover {
        color: getCssVar('fill-color-primary');
        background: getCssVar('fill-color-dark');
      }
    }

    @include e(title) {
      margin-bottom: 10px;
    }

    @include e('content') {
      margin-bottom: 2px;
      color: getCssVar('notification-text-color');
    }

    > p,
    h4 {
      margin: 0;
      padding: 0;
    }

    > h4 {
      font-weight: 500;
    }
  }

  @include when(left) {
    left: 20px;
  }

  @include when(right) {
    right: 20px;
  }

  @each $type in (info, success, error, warn) {
    @include m($type) {
      @include css-var-from-global(
        ('notification', 'icon-color'),
        ('color', $type, 'light-3')
      );
    }

    & .#{$namespace}-notification__icon {
      font-size: 20px;
      color: getCssVar('notification', 'icon-color');
    }
  }
}

.#{$namespace}-notification-enter-from {
  &.is-left {
    transform: translateX(-100%);
  }
  &.is-right {
    transform: translateX(100%);
  }
}

.#{$namespace}-notification-leave-to {
  opacity: 0;
  transform: translateY(-10%);
}
