@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(option-group) {
  @include set-component-css-var('option-group', $option-group);

  padding: 0;
  list-style: none;

  @include e(title) {
    padding: getCssVar('option-group', 'padding');
    font-size: 13px;
    color: getCssVar('text-color-placeholder');
  }

  .#{$namespace}-select-option__item {
    padding: 4px 12px 6px 22px !important;
  }
}
