@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'mixins/function' as *;
@use 'common/var' as *;

$prefix: #{$namespace}-select-option;

.#{$prefix}__wrapper {
  @include set-component-css-var('option', $option);
}

.#{$prefix}__wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  z-index: 100;

  @include scroll-bar;

  .#{$prefix}__item {
    padding: 6px 20px;
    list-style-type: none;
    text-align: start;
    font-size: 14px;
    color: getCssVar('text-color', 'regular');
    cursor: pointer;

    &:hover {
      color: getCssVar('text-color', 'regular');
      background-color: getCssVar('fill-color', 'light');
    }

    @include when(selected) {
      color: getCssVar('color-primary');
      font-weight: 700;

      &:hover {
        color: getCssVar('color-primary');
      }
    }

    @include when(disabled) {
      color: getCssVar('option', 'disabled-text-color');
      cursor: not-allowed;

      &:hover {
        color: getCssVar('option', 'disabled-text-color');
        background-color: #fff;
      }
      
      .#{$prefix}__item {
        &:hover {
          color: getCssVar('option', 'disabled-text-color');
        }
      }
    }
  }

  .#{$prefix}__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}