@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(popconfirm) {
  @include e(title) {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 13px;

    @include e(text) {
      margin-left: 10px;
    }

    > p {
      margin: 0;
      padding: 0;
    }
  }

  @include e(btns) {
    text-align: end;
  }
}
