@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

@include b(popover) {
  @include set-component-css-var('popover', $popover);
}

@include b(popover) {
  padding: 10px;

  &.#{$namespace}-popper {
    min-width: getCssVar('popover-width');
    padding: 10px 15px;

    @include e(title) {
      margin-bottom: 10px;
      color: getCssVar('text-color-primary');
      font-size: 14px;
      font-family: inherit;
      box-sizing: border-box;
    }
  }
}