@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;
@use 'common/transition' as *;

$placement: (
  'bottom': 'top',
  'top': 'bottom',
  'right': 'left',
  'left': 'right',
);

@include b(popper) {
  @include set-component-css-var('popper', $popper);
}

@include b(popper) {
  position: absolute;
  padding: 6px 10px;
  line-height: 20px;
  font-size: 12px;
  border-radius: 4px;
  z-index: 2000;

  @include when(pure) {
    padding: 0;
  }

  @include e(arrow) {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: -1;
    
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: getCssVar('text-color', 'primary');
      border: 1px solid #414243;
      box-sizing: border-box;
      transform: rotate(45deg);
    }
  }

  @each $placement,
    $adjacency
      in ('top': 'left', 'bottom': 'right', 'left': 'bottom', 'right': 'top')
  {
    &[data-popper-placement^='#{$placement}'] {
      .#{$namespace}-popper__arrow::after {
        border-#{$placement}-color: transparent !important;
        border-#{$adjacency}-color: transparent !important;
      }
    }
  }

  @each $opposite, $val in $placement {
    &[data-popper-placement^='#{$opposite}'] > .#{$namespace}-popper__arrow {
      #{$val}: -5px;

      &::after {
        @if $opposite == top {
          border-bottom-right-radius: 2px;
        }
        @if $opposite == bottom {
          border-top-left-radius: 2px;
        }
        @if $opposite == left {
          border-top-right-radius: 2px;
        }
        @if $opposite == right {
          border-bottom-left-radius: 2px;
        }
      }
    }
  }

  @include when(dark) {
    color: getCssVar('bg-color');
    background-color: getCssVar('text-color', 'primary');
    border: 1px solid getCssVar('text-color', 'primary');
    box-shadow: getCssVar('box-shadow-dark');

    @include e(arrow) {
      
      &::after {
        border: 1px solid getCssVar('text-color', 'primary');
        background: getCssVar('text-color', 'primary');
        right: 0;
      }
    }
  }

  @include when(light) {
    background: getCssVar('bg-color', 'overlay');
    border: 1px solid getCssVar('border-color', 'light');
    box-shadow: getCssVar('box-shadow-light');

    @include e(arrow) {
      
      &::after {
        border: 1px solid getCssVar('border-color', 'light');
        background: getCssVar('bg-color', 'overlay');
        right: 0;
      }
    }
  }
}