@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'mixins/button' as *;
@use 'common/var' as *;

@include b(radio) {
  @include set-component-css-var('radio', $radio);
}

@include b(radio) {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: map.get($radio-height, 'default');
  margin-right: 32px;
  font-weight: getCssVar('radio-font-weight');
  font-size: 14px;
  white-space: nowrap;
  color: getCssVar('radio-text-color');
  outline: none;
  user-select: none;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  @include e(input) {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    cursor: pointer;

    @include when(disabled) {
      .#{$namespace}-radio__inner {
        background-color: map.get($radio-disabled, 'input-fill');
        border-color: map.get($radio-disabled, 'input-border-color');
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          background-color: map.get($radio-disabled, 'icon-color');
        }

        & + .#{$namespace}-radio__label {
          cursor: not-allowed;
        }
      }
      &.is-checked {
        .#{$namespace}-radio__inner {
          background-color: map.get($radio-disabled, 'checked-input-fill');
          border-color: map.get($radio-disabled, 'checked-input-border-color');

          &::after {
            background-color: map.get($radio-disabled, 'checked-icon-color');
          }
        }
      }
      & + span.#{$namespace}-radio__label {
        color: getCssVar('text-color', 'placeholder');
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .#{$namespace}-radio__inner {
        border-color: map.get($radio-checked, 'input-border-color');
        background: map.get($radio-checked, 'icon-color');

        &::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }

      & + .#{$namespace}-radio__label {
        color: getCssVar('radio-text-color');
      }
    }

    @include when(focus) {
      .#{$namespace}-radio__inner {
        border-color: getCssVar('radio-input-border-color-hover');
      }
    }
  }
  @include e(inner) {
    position: relative;
    display: inline-block;
    width: getCssVar('radio-input-width');
    height: getCssVar('radio-input-height');
    background-color: getCssVar('radio-input-bg-color');
    border: getCssVar('radio-input-border');
    border-radius: getCssVar('radio-input-border-radius');
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      border-color: getCssVar('radio-input-border-color-hover');
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 6px;
      height: 6px;
      border-radius: getCssVar('radio-input-border-radius');
      background-color: getCssVar('color-white');
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.15s linear;
    }
  }

  @include e(original) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    outline: none;
    z-index: -1;

    &:focus-visible {
      & + .#{$namespace}-radio__inner {
        outline: 2px solid getCssVar('radio-input-border-color-hover');
        outline-offset: 1px;
        border-radius: getCssVar('radio-input-border-radius');
      }
    }
  }

  &:focus:not(:focus-visible):not(.is-focus):not(:active):not(.is-disabled) {
    .#{$namespace}-radio__inner {
      box-shadow: 0 0 2px 2px getCssVar('radio-input-border-color-hover');
    }
  }

  @include e(label) {
    font-size: getCssVar('radio-font-size');
    padding-left: 8px;
  }
}
