@use 'sass:map';

@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'mixins/function' as *;
@use 'common/var' as *;

$select-height: () !default;
$select-height: map.merge(
  (
    'large': (
      'height': 40px,
      'font-size': 14px,
      'padding': 0 14px
    ),
    'default': (
      'height': 32px,
      'font-size': 13px,
      'padding': 0 10px
    ),
    'small': (
      'height': 24px,
      'font-size': 12px,
      'padding': 0 6px
    )
  ),
  $select-height
);

@include b(select) {
  @include set-component-css-var('select', $select);
}

@include b(select) {
  min-height: 32px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: getCssVar('border-radius', 'base');
  border: 1px solid getCssVar('border-color');
  cursor: pointer;
  transition: all getCssVar('transition-duration') linear;

  &:hover {
    border: 1px solid getCssVar('select', 'hover-border');
  }

  @include when(focus) {
    outline: none;
    border: 1px solid getCssVar('select', 'focus-border');

    @include when(selecting) {
      @include e(placeholder) {
        color: getCssVar('text-color-secondary');
      }
    }
  }

  @include when(disabled) {
    color: getCssVar('select', 'disabled-text-color');
    background: getCssVar('select', 'disabled-bg-color');
    cursor: not-allowed;

    &:hover {
      border: 1px solid getCssVar('border-color');
    }
  }

  @include e(wrapper) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-all;
    min-height: 32px;
    color: getCssVar('border-color', 'darker');

    @include when(multiple) {
      padding-left: 0px;

      @include e(placeholder) {
        margin-right: 0;
      }
    }
  }

  .#{$namespace}-select__content {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    min-width: 0;

    @include e(input--wrapper) {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      user-select: none;

      @include e(input) {
        max-width: 100%;
        padding: 0;
        border: none;
        outline: none;
        appearance: none;
        background-color: transparent;
      }

      @include e(input--calculator) {
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        inset-inline-end: auto;
        z-index: 999;
        white-space: pre;
        visibility: hidden;
      }
    }

    @include e(placeholder) {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      user-select: none;
      transform: translateY(-50%);

      @include when(disabled) {
        color: getCssVar('select', 'disabled-text-color');
      }
    }
  }

  @include when(selecting) {
    @include e(placeholder) {
      color: getCssVar('text-color-regular');
    }
  }

  @include when(filterable) {
    cursor: text;
  }

  @include e(tag) {
    margin: 3px 4px;
    cursor: pointer;
  }

  @include e(icon) {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 18px;
    cursor: pointer;
  }

  @each $size in (large, small) {
    @include m($size) {
      @include set-css-var-value(
        ('select', 'height'),
        map.get($select-height, $size, 'height')
      );
      @include set-css-var-value(
        ('select', 'font-size'),
        map.get($select-height, $size, 'font-size')
      );
      @include set-css-var-value(
        ('select', 'padding'),
        map.get($select-height, $size, 'padding')
      );

      min-height: getCssVar('select', 'height');
      padding: getCssVar('select', 'padding');
      font-size: getCssVar('select', 'font-size');

      @include e(wrapper) {
        min-height: getCssVar('select', 'height');
      }
    }
  }
}

.empty-value {
  display: block;
  padding: 4px 0;
  text-align: center;
}
