@use 'sass:map';

@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'mixins/var' as *;

$slider-height: () !default;
$slider-height: map.merge(
  (
    'large': 40px,
    'default': 32px,
    'small': 24px,
  ),
  $slider-height
);

@include b(slider) {
  @include set-component-css-var('slider', $slider);
}

@include b(slider) {
  display: flex;
  align-items: center;
  width: 100%;
  height: map.get($slider-height, 'default');

  @include e(track) {
    position: relative;
    flex: 1;
    height: getCssVar('slider-height');
    background-color: getCssVar('slider-track-bg-color');
    border-radius: getCssVar('slider', 'radius');
    cursor: pointer;
  }

  @include e(track__bar) {
    height: getCssVar('slider-height');
    background-color: getCssVar('slider-bar-bg-color');
    border-radius: getCssVar('slider-radius');
  }

  @include e(reference-wrapper) {
    position: absolute;
    top: getCssVar('slider-button-offset');
    width: getCssVar('slider-button-size');
    height: getCssVar('slider-button-size');
    background-color: #e4e7ed;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: box-shadow getCssVar('transition-duration-fast') linear;
    z-index: 20;
    cursor: grab;

    &:hover {
      box-shadow: 0px 0px 10px #ccc;
    }

    @include when(active) {
      box-shadow: 0px 0px 10px #666;
    }
  }

  @include e(reference) {
    width: getCssVar('slider-button-size');
    height: getCssVar('slider-button-size');
  }

  @include e(step) {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  @include e(step__item) {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: getCssVar('text-color-primary');
  }

  @include when(disabled) {
    
    @include e(track) {
      cursor: not-allowed;
    }

    @include e(reference-wrapper) {
      background: getCssVar('disabled', 'text-color');
      cursor: not-allowed;

      &:hover {
        box-shadow: 0px 0px 10px #fff;
      }
    }
  }

  @include when(vertical) {
    height: 100%;

    @include e(track) {
      width: getCssVar('slider-height');
      height: 100%;
    }

    @include e(track__bar) {
      position: absolute;
      bottom: 0;
      width: getCssVar('slider-height');
    }

    @include e(reference-wrapper) {
      top: auto;
      left: getCssVar('slider-button-offset');
      transform: translateY(50%);
    }

    @include e(step) {
      flex-direction: column;
    }
  }
}