@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;

$selector: #{$namespace}-time-picker--panel;

.#{$namespace}-time-picker--panel {
  @include set-component-css-var('time-picker', $time-picker);

  line-height: getCssVar('time-picker', 'panel-inner-list-height');
  font-size: 12px;
  color: getCssVar('time-picker', 'text-color');

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  &--main {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: getCssVar('time-picker', 'panel-height');
    padding: 8px 0 4px 0;
    border-bottom: 1px solid getCssVar('time-picker', 'divider-color');

    .#{$selector}--list {
      @include scroll-bar;

      &:nth-child(-n + 2) {
        border-right: 1px solid getCssVar('time-picker', 'divider-color');
      }

      box-sizing: border-box;
      width: getCssVar('time-picker', 'panel-list-width');
      padding: 0 5px;
      flex: 1 0 auto;
      text-align: center;
      list-style: none;
      overflow-y: hidden;
      overflow-x: hidden;

      &:hover {
        overflow-y: auto;
      }

      &::after {
        content: '';
        display: block;
        height: calc(
          getCssVar('time-picker', 'panel-height') - getCssVar(
              'time-picker',
              'panel-inner-list-height'
            )
        );
      }

      > li {
        width: getCssVar('time-picker', 'panel-inner-list-width');
        height: getCssVar('time-picker', 'panel-inner-list-height');
        border-radius: getCssVar('time-picker', 'cell-radius');
        transition: all 0.15s;
        cursor: pointer;

        &:hover {
          background: getCssVar('time-picker', 'cell-hover-bg');
        }
      }

      .is-selected {
        color: getCssVar('time-picker', 'cell-selected-text-color');
        background: getCssVar('time-picker', 'cell-selected-bg') !important;
      }

      .is-disabled {
        color: getCssVar('text-color-disabled');
        cursor: not-allowed;

        &:hover {
          background: none;
        }
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
  }
}
